<!doctype html>
<html lang="en">
  <!-- Sets up meta tags and links the css -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- If you're going to assign a domain to this, uncomment this line:
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    /> -->
    <link
      rel="icon"
      href="{{url_for('static', filename='assets/logobolkotin.svg')}}"
    />
    <title>Project Bolotin</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <img
          src="{{url_for('static', filename='assets/logobolkotin.svg')}}"
          alt="Bolotin Logo"
          class="logo"
        />
      </header>
      <main class="card">
        
        <!-- This element is replaced by the live feed from YOLO -->
        <img id="yolo-card" src="" />
        
         <!-- Container for the buttons -->
        <div class="buttons">
          <button class="btn" id="mic-btn">
            <img
              src="{{url_for('static', filename='assets/microphone-solid-full.svg')}}"
              alt="Microphone"
            />
          </button>
          <button class="btn" id="rotate-btn">
            <img
              src="{{url_for('static', filename='assets/rotate-solid-full.svg')}}"
              alt="Rotate Camera"
            />
          </button>
        </div>
      </main>
    </div>
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
  </body>
</html>
